a {
	transition: all 300ms ease;
	color: $kollegorna-orange;
	text-decoration: none;
	&:visited,
	&:focus,
	&:active {
		color: $kollegorna-orange;
	}
	&:hover {
		color: darken($kollegorna-orange, 10%);
	}
}