---
title: Index
---
<main role="main">
  <p>This is the boilerplate for the Middleman projects we do at <a href="https://www.kollegorna.se">Kollegorna</a>.</p>
  <p><%= image_tag("kollegorna-k.svg") %></p>
</main>
